.App {
  text-align: center;
}


.App-header {
  background-color: rgb(73, 73, 73);
  padding: 16px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

